/* Importando as fontes */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* ----- DEFINIÇÕES----- */

:root {
  --cor-principal: rgb(26, 24, 25);
  --cor-destaque: rgb(216, 178, 6);
  --cor-texto: #ccc;
  --cor-texto-claro: bisque;
  --cor-fundo-escuro: #222;
}

/*Sobrescrevendo as fontes do Bootstrap */
body {
  background-color: var(--cor-principal);
  font-family: 'Lato', sans-serif;
  color: var(--cor-texto);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: var(--cor-destaque);
}

/*Sobrescrevendo as cores do Bootstrap */
.btn-primary {
  background-color: var(--cor-destaque);
  border-color: var(--cor-destaque);
  color: var(--cor-principal);
  font-weight: bold;
}

.btn-primary:hover {
  background-color: white;
  border-color: white;
  color: var(--cor-principal);
}

/* ----- PERSONALIZAÇÃO DA NAVBAR ----- */

.navbar {
  background-color: var(--cor-principal) !important;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.4em;
  color: var(--cor-destaque) !important; 
}

.navbar-nav .nav-link {
  color: var(--cor-destaque);
  margin-left: 10px;
  font-weight: 400;
}

.navbar-nav .nav-link:hover {
  color: var(--cor-texto-claro); 
  transform: scale(1.1);
}

.dropdown-menu {
  background-color: #222;
}
.dropdown-item {
  color: var(--cor-texto);
}
.dropdown-item:hover {
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
}



/* ----- PERSONALIZAÇÃO DO CARROSSEL DE DESTAQUE ----- */

#hero-carousel {
  max-height: 80vh;
  overflow: hidden;
  position: relative; 
}

.carousel-item img {
  object-fit: cover;
  height: 80vh;
}

/*efeito de fusão/degrade*/
#hero-carousel::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, var(--cor-principal) 0%, transparent 100%);
  z-index: 2;
}

.carousel-caption {
  bottom: 3rem; 
  z-index: 3; 
}

.carousel-caption h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.5em;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}


/* ----- PERSONALIZAÇÃO DOS CARDS ----- */

.card {
  background-color: var(--cor-fundo-escuro);
  border: 1px solid #444;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}


.card-title {
  color: var(--cor-destaque);
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}

.card-text {
  color: var(--cor-texto); 
}


.card-img-top {
  height: 250px;
  object-fit: cover; 
}

/* ----- PERSONALIZAÇÃO DO ACORDEÃO ----- */


.accordion-item {
  background-color: var(--cor-fundo-escuro);
  border: 1px solid #444;
}
 
.accordion-body {
  color: var(--cor-texto);
  font-family: 'Lato', sans-serif;
}

.accordion-button {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  color: white; /* Cor do texto quando fechado */
  background-color: #333;
}

/* botão aberto*/
.accordion-button:not(.collapsed) {
  background-color: var(--cor-principal);
  color: var(--cor-destaque); 
  box-shadow: none; /* Remove a sombra do Bootstrap */
}

/* Remove o foco azul padrão ao clicar */
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}


.accordion-button::after {
  /*tornar o icone padrão do Bootstrap branco */
  filter: brightness(0) invert(1);
}

.accordion-button:not(.collapsed)::after {
  /*torna o icone dourado quando aberto */
  filter: invert(70%) sepia(85%) saturate(731%) hue-rotate(357deg) brightness(98%) contrast(92%);
}


/* ----- PERSONALIZAÇÃO DOS DEPOIMENTOS ----- */

.secao-depoimentos {
  background-color: var(--cor-fundo-escuro);
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}

.depoimento-box {
  padding: 20px 80px; /* ´para as setas não cobrirem o texto */
  text-align: center;
}

.depoimento-texto {
  font-family: 'Merriweather', serif; 
  font-size: 1.5em;
  font-style: italic;
  color: var(--cor-texto-claro); 
  line-height: 1.6;
}

.depoimento-autor {
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  color: var(--cor-destaque);
  margin-top: 20px;
  font-style: normal;
}


#carouselDepoimentos .carousel-control-prev-icon,
#carouselDepoimentos .carousel-control-next-icon {
  filter: invert(70%) sepia(85%) saturate(731%) hue-rotate(357deg) brightness(98%) contrast(92%);
}


/* ----- PERSONALIZAÇÃO DO RODAPÉ ----- */
.secao-rodape {
  background-color: var(--cor-principal);
  border-top: 4px double var(--cor-destaque);
}

.secao-rodape h4 {
  margin-bottom: 20px;
}

.secao-rodape p {
  color: var(--cor-texto);
}

.nav-link-footer {
  color: var(--cor-texto);
  padding: 0.25rem 0;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.nav-link-footer:hover {
  color: var(--cor-destaque); 
  transform: translateX(5px); 
}

.secao-rodape .fs-4 a {
  color: var(--cor-texto);
  transition: all 0.3s ease;
}

.secao-rodape .fs-4 a:hover {
  color: var(--cor-destaque);
  transform: scale(1.1) translateY(-2px);
}


.rodape-direitos {
  background-color: black;
  color: #888;
  font-size: 0.8em;
  /* --bs-gutter-x é a variável do Bootstrap para o padding lateral */
  /* Puxa o fundo para preencher as laterais */
  margin-left: calc(-1 * var(--bs-gutter-x, 0.75rem));
  margin-right: calc(-1 * var(--bs-gutter-x, 0.75rem));
}

/* ----- PERSONALIZAÇÃO DA PÁGINA SOBRE/EQUIPE ----- */


.sobre-hero {
  background-color: #111;
  padding: 4rem 0;
}

.rounded-circle {
  border: 5px solid var(--cor-destaque); 
}

.text-body-secondary {
  color: var(--cor-texto-claro) !important; 
}

/* ----- PERSONALIZAÇÃO DA PÁGINA CONTATO ----- */

.contato-hero {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../imagens/ultra-wide-4k-car-3lxbiug6ognbvkxm.jpg');

  height: 40vh;
  background-position: 50%;
  background-size: cover;
}

.form-control, .form-select {
  background-color: var(--cor-fundo-escuro);
  border: 1px solid #444;
  color: var(--cor-texto);
}

.form-control:focus, .form-select:focus {
  background-color: #333;
  color: white;
  border-color: var(--cor-destaque);
  box-shadow: 0 0 8px rgba(216, 178, 6, 0.5);
}


.mapa-container {
  overflow: hidden; 
  border: 2px solid #444;
}

.text-warning {
  color: var(--cor-destaque) !important;
}

/* ----- AJUSTES DE RESPONSIVIDADE (MOBILE) ----- */
@media (max-width: 767.98px) {
  
  /* 1. Ajusta a altura */
  #hero-carousel,
  .carousel-item img {
    height: 35vh; /* Mantém a altura reduzida */
    
    object-position: 70% 400%;
  }

  .carousel-caption h2 {
    font-size: 2.5em;
  }
 
  .efeito-fusao::after {
   height: 75px;; 
  }
}